@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:opsz,wght@12..72,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-navigation-size: 27px;
}
html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  scroll-behavior: smooth;
overflow-x: hidden;
}

/* .App {
  background: 
    linear-gradient(30deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2),
    linear-gradient(150deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2),
    linear-gradient(90deg, #d2d2d2 12%, transparent 12.5%, transparent 87%, #d2d2d2 87.5%, #d2d2d2);
  background-size: 80px 140px;
  background-color: #f0f0f0;
} */